<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929179913057-6c282bt6ulf2o5dr1rilpa8gfbfo0hge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929179913057-6c282bt6ulf2o5dr1rilpa8gfbfo0hge</string>
	<key>API_KEY</key>
	<string>AIzaSyCNLtASN_Aup-hyMf4sxVtK-wBX8CzEEvk</string>
	<key>GCM_SENDER_ID</key>
	<string>929179913057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sstonn.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-e59a6</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-e59a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929179913057:ios:60deb679e0e76e4b839320</string>
</dict>
</plist>